<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
    <title>Contact</title>
    <link rel="stylesheet" href="../static/contactstyle.css">
</head>

<body>
    <div class="container">



        <div class="container">



            <div class="left">
                <img src="../static/weight-lifting-1297690_1280.png" id="img" alt="">
                <div id="name">Fitness Master </div>
            </div>

            <div class="nn">
                <div class="nav">
                    <ul>
                        <li class="space"><a href="../index.html" id="index">Index </a></li>
                    <li class="space"><a href="fitness.html">Fitness band</a></li>
                    <li class="space"><a href="services.html" id="services">Services</a></li>
                    <li class="space"><a href="contact.html" id="contact">Contact Us</a></li>
                    </ul>


                </div>



                <div class="nav2">
                    <ul class="jj">
                <li class="btt" ><button><a href="contact.html">Email Us</a></button></li>
                <li class="btt" ><button><a href="contact.html">Call us Now</a></button></li>
                        <li></li>
                        <li></li>

                    </ul>
                </div>
            </div>

        </div>

        <div class="contf" id="cc">




            <div class="section">
                <div class="cont">
                    <i class="fa fa-phone w3-xlarge" id="nn4"><a href="https://www.w3schools.com/">Call:</a></i></i>
                    <h4> (+91) 9989317254</h4>

                </div>&nbsp;
                <div class="cont">
                    <i class="fa fa-envelope-o w3-xlarge"id="nn5" ><a href="https://myaccount.google.com/?gar=1">Email: </a></i></i>
                    <h4> nithhinrao@gmail.com</h4>
                    <div class="cont"   >
                        <i class="fa fa-location-arrow w3-xlarge" id="nn6"> <a href="https://www.google.com/maps?ll=17.412349,78.408046&z=9&t=m&hl=en&gl=IN&mapclient=embed&q=Hyderabad+Telangana">Location:</a></i>
                        <h4>Hyderabad ,Telangana , India .</h4>
                        <p></p>
                    </div>&nbsp;

                </div>

            </div>

            <div class="sec">
                <img src="../static/c1.jpg" alt="" class="c1" id="c1">
            </div>


        </div>


        <div class="foot">

        </div>
        <div class="footer">
            <h1>THANKS FOR VISITING</h1>
        </div>
        <div class="icons">
            <i class="fa fa-whatsapp w3-xlarge" id="nn1" ></i>
            <i class="fa fa-facebook w3-xlarge" id="nn2" ></i>
            <i class="fa fa-instagram w3-xlarge" id="nn3" ></i>

        </div>



</body>

</html>
