<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <title>Contact</title>
    <link rel="stylesheet" href="../static/fitness.css">
</head>

<body>
    <div class="container">
        <div class="left">
            <img src="../static/weight-lifting-1297690_1280.png" class="img" alt="">
            <div id="name">Fitness Master </div>
        </div>

        <div class="nn">
            <div class="nav">
                <ul>
                    <li class="space"><a href="../index.html" id="index">Index </a></li>
                    <li class="space"><a href="fitness.html" id="fitness">Fitness band </a></li>
                    <li class="space"><a href="services.html" id="services">Services</a></li>
                    <li class="space"><a href="contact.html">Contact Us</a></li>
                </ul>


            </div>



            <div class="nav2">
                <ul class="jj">
                <li class="btt" ><button><a href="contact.html">Email Us</a></button></li>
                <li class="btt" ><button><a href="contact.html">Call us Now</a></button></li>
                    <li></li>
                    <li></li>

                </ul>
            </div>
        </div>


        <div class="boxes">
            <div class="boxxx">
                <img src="../static/b1.jpg" id="img" alt="">
                <h5 class="c">Crunch</h5>
            </div>
            <div class="boxxx">
                <img src="../static/b2.jpg" id="img" alt="">
                <h5>Dumbbell</h5>
            </div>
            <div class="boxxx">
                <img src="../static/b3.jpg" id="img" alt="">
                <h5 class="c">Push-Ups</h5>
            </div>
            <div class="boxxx">
                <img src="../static/b4.jpg" id="img" alt="">
                <h5 class="c2">Decline Chest Fly</h5>
            </div>
            <div class="boxxx">
                <img src="../static/b5.jpg" id="img" alt="">
                <h5>Incline Chest Fly</h5>
            </div>
            <div class="boxxx" id="cc">
                <img src="../static/b6.jpg" id="img" alt="">
                <h5>Cycling</h5>
            </div>
            <div class="boxxx" id="cc">
                <img src="../static/b7.jpg" id="img" alt="">
                <h5>Weight lifting</h5>
            </div>
            <div class="boxxx">
                <img src="../static/b8.jpg" id="img" alt="">
                <h5>Push-Ups</h5>
            </div>
            <div class="boxxx">
                <img src="../static/b9.jpg" id="img" alt="">
                <h5>Bench Press</h5>
            </div>

        </div>

    </div>

</body>
