<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lora&display=swap" rel="stylesheet">

    <title>Contact</title>
    <link rel="stylesheet" href="../static/servicestyle.css">
</head>

<body>

    <div class="container">

    
    

    
    



        <div class="left">
            <img src="../static/weight-lifting-1297690_1280.png" id="img" alt="">
            <div id="name">Fitness Master </div>
        </div>

        <div class="nn">
            <div class="nav">
                <ul>
                    <li class="space"><a href="../index.html" id="index">Index </a></li>
                    <li class="space"><a href="fitness.html">Fitness band</a></li>
                    <li class="space"><a href="services.html" id="services">Services</a></li>
                    <li class="space"><a href="contact.html">Contact Us</a></li>
                </ul>


            </div>



            <div class="nav2">
                <ul>
                <li class="btt" ><button><a href="contact.html">Email Us</a></button></li>
                <li class="btt" ><button><a href="contact.html">Call us Now</a></button></li>
                    <li></li>
                    <li></li>

                </ul>
            </div>
        </div>

            <div class="boss">

        <form action="/views/services.html" id="contact" method="post">

                <h2>Join the best GYM of Hyderbad Now</h2>
                <div class="sub">
                    <div class="action">
                        <label for="Name" class="label">Name : </label>
                        <input type="name" name="Name" id="Name"  class="box" placeholder="Enter Your Name ">

                    </div>
                    <div class="action">
                        <label for="email" class="label">Email Address : </label>
                    

                            <input type="email" name="Email" id="email" class="box" placeholder="Enter Your Email Address " class="email">
                        

                    </div>
                    <div class="action">
                        <label for="Password" class="label">Password : </label>
                        <input type="password" name="Password" id="Password" class="box" placeholder="Enter Your Password ">

                    </div>
                    <div class="action">
                        <label for="Phone Number" class="label">Phone No: </label>
                        <input type="number" name="Phone" id="Phone Number" class="box" placeholder="Enter Your Phone Number">

                    </div>
                    <div class="action">
                        <label for="Age" class="label">Age : </label>
                        
                        <input type="date" name="Age" id="Age" class="box" placeholder="Enter Your Age">

                    </div>
                    <div class="action">
                        <label for="Gender" class="label">Gender : </label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="Gender" class="label">Male : </label>
                        <input type="radio" name="Male" id="Gender"  class="Gender">&nbsp;&nbsp;
                        <label for="Gender" class="label">Female : </label>
                        <input type="radio" name="Female" id="Gender"  class="Gender">

                    </div>
                    <div class="action">
                        <label for="location" class="label">location : </label>
                        <input type="location" name="location" class="box" id="location" placeholder="Enter Your  location">  <br>
                        <br>

                        <div >
                            <input type="submit" name="" id="btn" class="btn">
                        </div>

                    </div>


        
        
        </form>


    </div>

    </div>










</body>

</html>